footer {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    color: white;
    
  }


  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }




  .logo img {
    height: 50px;
    margin-bottom: 20px;
  }



  .contact-info {
    flex-grow: 1;
    text-align: left;
  }

  .social-media {
    flex-grow: 1;
    text-align: right;
  }



  .social-media img {
    height: 25px;
    margin-left: 10px;
  }

  .social-media img:first-child {
    margin-left: 0;
  }



  nav a .logo{
    height: 30px;
  }